.comic-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid darkred;
    font-family: 'Shantell Sans', sans-serif;
}

.comic__item {
    width: 50%;
    height: 300px;
    border: 3px solid darkred;
    position: relative;
}

.comic__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cloud-img {
    width: 100%;
}




.comic__item5 .cloud1 {
    position: absolute;
    width: 210px;
    top: -10px;
    left: -20px;
}

.comic__item5 .cloud-img1 {
    transform: scaleX(-1);
}

.comic__item5 .cloud2 {
    position: absolute;
    width: 200px;
    right: 25%;
    bottom: 20px;

}

.comic__item5 .cloud-img2 {
    transform: rotate(180deg);
}

.comic__item5 .text1 {
    position: absolute;
    left: 43px;
    font-size: 14px;
    bottom: 90px;

}

.comic__item5 .text2 {
    position: absolute;
    left: 60px;
    bottom: 88px;
    font-size: 14px;

}

.comic__item1 .cloud1 {
    position:absolute;
    width: 250px;
    top: -40px;
    left: 290px;
}
.comic__item1 .cloud-img1 {
    transform: scaleX(1);
}
.comic__item1 .text1 {
    position: absolute;
    top: 115px;
    right: 55px;
    font-size: 18px;
}

.comic__item2 .cloud1 {
    position:absolute;
    width: 150px;
    top: -5px;
    left: 240px;
}
.comic__item2 .cloud-img1 {
    transform: scaleX(1);
}
.comic__item2 .text1 {
    position: absolute;
    top: 35px;
    right: 60px;
    font-size: 30px;
}


.comic__item6 .cloud-img6 {
    position:absolute;
    width: 250px;
    top: -15px;
    left: -20px;
}
.comic__item6 .cloud-img6 {
    transform: scaleX(1);
}
.comic__item6 .text6 {
    position: absolute;
    bottom: 190px;
    left: 50px;
    font-size: 18px;
}

.comic__item3 .cloud1 {
    position:absolute;
    width: 300px;
    top: 40px;
    left: 240px;
}
.comic__item3 .cloud-img1 {
    transform: scaleX(1);
    transform: rotate(180deg);
}
.comic__item3 .text1 {
    position: absolute;
    top: 140px;
    left: 62px;
    font-size: 14px;
    width:190px ;
}

.comic__item4 .cloud1 {
    position:absolute;
    width: 250px;
    top: -40px;
    left: 290px;
}
.comic__item4 .cloud-img1 {
    transform: scaleX(1);
}
.comic__item4 .text1 {
    position: absolute;
    top: 115px;
    left: 59px;
    font-size: 14px;
}




@media(max-width:900px) {
    .comic__item {
        width: 100%;
    }
}

@media(max-width:600px) {
    .comic__item5 .cloud1 {
        width: 200px;
        top: 100px;
        left: 0;

    }

    .comic__item5 .cloud-img1 {
        transform: scaleX(-1) scaleY(-1);
    }

    .comic__item5 .cloud2 {
        position: absolute;
        width: 200px;
        right: 50px;
        bottom: 50px;
    }

    .comic__item5 .cloud-img2 {
        transform: rotate(180deg);
    }
}